/* acessibility FIX: changed background from grey to a  off-white*/
body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background: color #f4f4f4;
  color: #333; /* ensures text is dark grey / black for readability */
  margin: 0;
  padding: 0;
}

.skip-link{
  position: absolute;
  top: -9px;
  left: 0;
  background: 000;
  color: #000;
  padding: 10px;
  z-index: 100;
  transition: top 0.2s;
text-decoration: none;
font-weight: bold;
}

.skip-link:focus {
  top: 0;
  background-color: aquamarine;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 10px; /* added padding to make the  target bigger */
}

.main-nav ul li a:focus{
  outline: 3px solid black;
  background-color:#e0e0;
}
/* adds clear focus state */

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border: 1px solid #767676;
}

form input:focus,
form textarea:focus {
  outline: 2px solid black;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

form button:hover, 
form button:focus {
  background-color: #333;
  color: #fff;
}
.site-footer {
  padding: 2rem 0;
}
